<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Vehículos</title>
</head>
<body>
    <h1>Lista de Vehículos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vehiculo : ${vehiculos}">
                <td th:text="${vehiculo.marca}"></td>
                <td th:text="${vehiculo.modelo}"></td>
                <td th:text="${vehiculo.precio}"></td>
                <td>
                    <form th:action="@{'/vehiculos/delete/' + ${vehiculo.vehiculoId}}" method="post">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/" class="btn btn-primary">Volver al índice</a>
</body>
</html>
